<%= form_for @post do |f| %>
  <div>
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div>
    <%= f.label :odometer %><br />
    <%= f.text_field :odometer %>
  </div>
  <div>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :model_year %><br />
    <%= f.text_field :model_year %>
  </div>
  <div>
    <%= f.label :condition %><br />
    <%= f.text_field :condition %>
  </div>
  <div>
    <%= f.label :cylinders %><br />
    <%= f.text_field :cylinders %>
  </div>
  <div>
    <%= f.label :drivetrain %><br />
    <%= f.text_field :drivetrain %>
  </div>
  <div>
    <%= f.label :fuel %><br />
    <%= f.text_field :fuel %>
  </div>
  <div>
    <%= f.label :paint_colour %><br />
    <%= f.text_field :paint_colour %>
  </div>
  <div>
    <%= f.label :title_status %><br />
    <%= f.text_field :title_status %>
  </div>
  <div>
    <%= f.label :transmission_type %><br />
    <%= f.text_field :transmission_type %>
  </div>
  <div>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
